body {
    background: linear-gradient(to bottom, #1c2541, #0c1446);
    color: #ffffff;
    font-family: Consolas;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button button[type="submit"] {
    background-color: #2196f3;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


input[type="text"],
select {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
}


.result {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}